.drive-seamless-efficiency-head h2{
    text-align: center;
    font-weight: 600;
    font-size: 300%;
    color:#001433;
    margin-bottom: 1rem;
    overflow:hidden;
}
.drive-seamless-efficiency-content p{
    overflow: hidden;
}
.cloud-head h3{
    font-size: 180%;
    font-weight: 600;
    color: #1d4b98;
    margin: 2rem 0 1rem;
    overflow: hidden;
}

.it-automation-list{
    list-style: none;
    padding-left:2rem !important;
}
  
  .tab-content {
    padding: 20px;
    border: 1px solid #1d4b98;
    border-top: none;
  }
  .it-automation li.nav-item {
    width: 22.6%;
    text-align: center;
}
.it-automation.nav-tabs .nav-link{
    padding: 5px 24px;
    color:#000;
    margin-right: 5px;
}
.it-automation.nav-tabs .nav-link {
    padding: 5px 8px;
}
.cloud-head ul{
    padding: 0;
    overflow: hidden;
}
.it-automation.nav-tabs .nav-link.active{
    color: #fff;
    background-color: #1d4b98;
    border-color:#1d4b98;
}
.automation{
    overflow: hidden;
}
@media screen and (min-width: 2500px){

}

@media (min-width: 2000px) and (max-width: 2499px) {
    .it-automation a#parent-tab4 {
        padding: 0;
    }
}

@media (min-width: 1600px) and (max-width: 1999px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* ipad-pro */
    .cloud-consult-head h2{
        font-size: 200%;
    }
    .drive-seamless-efficiency-head h2{
        font-size: 200%;
    }
    .cloud-head h3{
        font-size:150%;
     }
     .it-automation li.nav-item {
        width: 25%;
    }
    .nav-tabs .nav-item{
        border: 1px solid #ddd;
    }
    .nav-tabs .nav-link{
        border:unset !important;
        padding: 8px 26px;
        margin-right:0;
    }
    .it-automation.nav-tabs .nav-link.active {
        padding: 18px 35px;
    }
    .it-automation.nav-tabs .nav-link {
        padding: 18px 35px;
    }
    .it-automation.nav-tabs .nav-link#parent-tab4 {
        padding: 18px 14px;
    }
    }
    @media (min-width: 769px) and (max-width: 991px) {
        /* ipad-air */
        .cloud-consult-head h2{
            font-size: 200%;
        }
        .drive-seamless-efficiency-head h2{
            font-size: 200%;
        }
        .cloud-head h3{
            font-size:150%;
         }
        .it-automation li.nav-item {
            width: 50%;
        }
        .it-automation.nav-tabs .nav-item{
            border: 1px solid #ddd;
        }
        .it-automation.nav-tabs .nav-link{
            border:unset !important;
            padding: 8px 36px;
            margin-right:0;
        }
    }
    @media (min-width: 569px) and (max-width: 768px){
        /* ipad-mini */
        .cloud-consult-head h2{
            font-size: 200%;
        }
        .drive-seamless-efficiency-head h2{
            font-size: 200%;
        }
        .cloud-head h3{
            font-size:150%;
            margin: 1rem 0;
         }
         .it-automation li.nav-item {
            width: 50%;
        }
        .it-automation.nav-tabs .nav-item{
            border: 1px solid #ddd;
        }
        .it-automation.nav-tabs .nav-link{
            border:unset !important;
            padding: 8px 36px;
            margin-right:0;
        }
    }
    @media (min-width: 320px) and (max-width: 568px){
        /* mobile devices */
        .cloud-consult-head h2{
            font-size: 200%;
        }
        .drive-seamless-efficiency-head h2{
            font-size: 200%;
        }
        .cloud-head h3{
            font-size:150%;
            margin: 1rem 0;
         }
         .it-automation li.nav-item{
            width:100%;
         }
         .it-automation.nav-tabs .nav-link{
            padding:12px;
            margin-right:0;
         }
    }